[toolchain]
anchor_version = "0.31.1"

[features]
resolution = true
skip-lint = false

[programs.devnet]
sharely_contract = "3fMMnSK1H5dZk9VFQyWcPvjz5Ms3AsxA39K84pCaxGK9"

[programs.localnet]
sharely_contract = "3fMMnSK1H5dZk9VFQyWcPvjz5Ms3AsxA39K84pCaxGK9"

[programs.mainnet]
sharely_contract = "3fMMnSK1H5dZk9VFQyWcPvjz5Ms3AsxA39K84pCaxGK9"

[registry]
url = "https://api.apr.dev"

[provider]
cluster = "devnet"
wallet = "~/.config/solana/id.json"

[scripts]
test = "yarn run ts-mocha -p ./tsconfig.json -t 1000000 tests/**/*.ts"
