[toolchain]
anchor_version = "0.31.1"

[features]
resolution = true
skip-lint = false

[programs.devnet]
sharely_contract = "2etMe49UuYTg9EXfimv92kzw9mBwhyr3uEvcyRCejQwL"

[programs.localnet]
sharely_contract = "2etMe49UuYTg9EXfimv92kzw9mBwhyr3uEvcyRCejQwL"

[programs.mainnet]
sharely_contract = "2etMe49UuYTg9EXfimv92kzw9mBwhyr3uEvcyRCejQwL"

[registry]
url = "https://api.apr.dev"

[provider]
cluster = "devnet"
wallet = "~/.config/solana/id.json"

[scripts]
test = "yarn run ts-mocha -p ./tsconfig.json -t 1000000 tests/**/*.ts"
